@page
@model Kuutioiden_varausnäkymä.Pages.Kuutiot.QuuModel
@{
    ViewData["Title"] = "Quu";
}
<head>
    @SetupModel.CallGet()
    @SetupModel.OnOff("Quu")
</head>
<body onload="tarkista()">
<div class="text-center">
    <div style="color:#bbb4ff" class="display-4"><b>Quu</b></div>
    <table style="float: left; border:0px" width="2%">
        <tr style="border:0px">
            <th style="border:0px"></th>
        </tr>
    </table>
</div>
<p>&nbsp;</p>
<div class="text-center" hidden>
    <b style="font-size:200%">STATUS</b>
</div>
    <div id="On" class="text-center" style="display: none">
        <table style="float: left; border:0px" width="30%">
            <tr style="border:0px">
                <th style="border:0px"></th>
            </tr>
        </table>
        <table border:1px #fff; border-radius:10px" width="40%" bgcolor="#fff" height="60px">
            <thead>
                <tr align="center" bgcolor=red style="border-radius:10px; border:1px red">
                    <th style="border-radius:10px; border:1px red">
                        <b style="color:white; font-size:200%" font-size=>KÄYTÖSSÄ / IN USE</b>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="Off" class="text-center" style="display: block">
        <table style="float: left; border:0px" width="30%">
            <tr style="border:0px">
                <th style="border:0px"></th>
            </tr>
        </table>
        <table border:1px #fff; border-radius:10px" width="40%" bgcolor="#fff" height="60px">
            <thead>
                <tr align="center" bgcolor=#3deb34 style="border-radius:10px; border:1px #3deb34">
                    <th style="border-radius:10px; border:1px #3deb34">
                        <b style="color:white; font-size:200%" font-size=>VAPAA / FREE TO USE</b>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
<p>&nbsp;</p>


<div>
    <table bgcolor=#bbb4ff width="100%" style="float: left; border:1px #bbb4ff; border-radius:10px">

        <tr style="border:1px ; border-radius:10px">
            <td style="border:1px #bbb4ff; border-radius:10px">
                <p></p>

                <div class="text-center" id="Week" style="font-size: 30px; color: white">Viikko: @Model.Viikko()</div>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                    <t>&nbsp;</t>
                </table>




                <table style="float: left; border:1px #bbb4ff; border-radius:10px" width="17.6%" bgcolor=#bbb4ff>
                    <thead>
                            <tr id="ma" align="center" bgcolor=#948CDE>
                            <th style="border-radius:10px; border:1px white">
                                Ma

                                    @while (true)
                                    {
                                        SetupModel vk = new SetupModel();
                                        string[] s = vk.Maanantai().Split('.');
                                        string pv = s[0] + "." + s[1];
                                        @pv
                                        ;
                                        break;
                                    }
                            </th>


                        </tr>
                        <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                            <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (string varaus in SetupModel.Quu)
                            {
                                SetupModel setup = new SetupModel();
                                string[] pv = setup.Maanantai().Split('.');
                                //pv:
                                //0 = Päivä
                                //1 = Kuukausi
                                //2 = Vuosi
                                string[] tieto = varaus.Split(';');
                                string[] pvt = tieto[1].Split('-');
                                //pvt:
                                //0 = Vuosi
                                //1 = Kuukausi
                                //2 = Päivä
                                if (pvt[2].Substring(0, 2) == pv[0] && pvt[1] == pv[1] && pvt[0] == pv[2])
                                {
                                    <tr bgcolor=#fff style="border-radius:10px; border:1px white" align="center">
                                        <td style="font-size:18px; border-radius:10px; border:1px white">
                                            <b>@tieto[2]</b>
                                            <p style="font-size:14px">@tieto[0].Substring(10,6) -  @tieto[1].Substring(10,6)</p>
                                            <p style="font-size:14px">@pvt[0] - @pvt[1] - @pvt[2].Substring(0,2)</p>
                                            <p style="font-size:14px">@tieto[3]</p>
                                        </td>
                                    </tr>
                                    <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                                        <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                </table>

                <table style="float: left; border:1px #bbb4ff; border-radius:10px" width="17.6%" bgcolor=#bbb4ff>
                    <thead>
                            <tr id="ti" align="center" bgcolor=#948CDE>
                            <th style="border-radius:10px; border:1px white">
                                Ti

                                    @while (true)
                                    {
                                        SetupModel vk = new SetupModel();
                                        string[] s = vk.Tiistai().Split('.');
                                        string pv = s[0] + "." + s[1];
                                        @pv
                                        ;
                                        break;
                                    }
                            </th>
                        </tr>
                        <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                            <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (string varaus in SetupModel.Quu)
                            {
                                SetupModel setup = new SetupModel();
                                string[] pv = setup.Tiistai().Split('.');
                                //pv:
                                //0 = Päivä
                                //1 = Kuukausi
                                //2 = Vuosi
                                string[] tieto = varaus.Split(';');
                                string[] pvt = tieto[1].Split('-');
                                //pvt:
                                //0 = Vuosi
                                //1 = Kuukausi
                                //2 = Päivä
                                if (pvt[2].Substring(0, 2) == pv[0] && pvt[1] == pv[1] && pvt[0] == pv[2])
                                {
                                    <tr bgcolor=#fff style="border-radius:10px; border:1px white" align="center">
                                        <td style="font-size:18px; border-radius:10px; border:1px white">
                                            <b>@tieto[2]</b>
                                            <p style="font-size:14px">@tieto[0].Substring(10,6) -  @tieto[1].Substring(10,6)</p>
                                            <p style="font-size:14px">@pvt[0] - @pvt[1] - @pvt[2].Substring(0,2)</p>
                                            <p style="font-size:14px">@tieto[3]</p>
                                        </td>
                                    </tr>
                                    <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                                        <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                </table>

                <table style="float: left; border:1px #bbb4ff; border-radius:10px" width="17.6%" bgcolor=#bbb4ff>
                    <thead>
                            <tr id="ke" align="center" bgcolor=#948CDE>
                            <th style="border-radius:10px; border:1px white">
                                Ke

                                    @while (true)
                                    {
                                        SetupModel vk = new SetupModel();
                                        string[] s = vk.Keskiviikko().Split('.');
                                        string pv = s[0] + "." + s[1];
                                        @pv
                                        ;
                                        break;
                                    }
                            </th>

                        </tr>
                        <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                            <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (string varaus in SetupModel.Quu)
                            {
                                SetupModel setup = new SetupModel();
                                string[] pv = setup.Keskiviikko().Split('.');
                                //pv:
                                //0 = Päivä
                                //1 = Kuukausi
                                //2 = Vuosi
                                string[] tieto = varaus.Split(';');
                                string[] pvt = tieto[1].Split('-');
                                //pvt:
                                //0 = Vuosi
                                //1 = Kuukausi
                                //2 = Päivä
                                if (pvt[2].Substring(0, 2) == pv[0] && pvt[1] == pv[1] && pvt[0] == pv[2])
                                {
                                    <tr bgcolor=#fff style="border-radius:10px; border:1px white" align="center">
                                        <td style="font-size:18px; border-radius:10px; border:1px white">
                                            <b>@tieto[2]</b>
                                            <p style="font-size:14px">@tieto[0].Substring(10,6) -  @tieto[1].Substring(10,6)</p>
                                            <p style="font-size:14px">@pvt[0] - @pvt[1] - @pvt[2].Substring(0,2)</p>
                                            <p style="font-size:14px">@tieto[3]</p>
                                        </td>
                                    </tr>
                                    <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                                        <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                </table>

                <table style="float: left; border:1px #bbb4ff; border-radius:10px" width="17.6%" bgcolor=#bbb4ff>
                    <thead>
                            <tr id="to" align="center" bgcolor=#948CDE>
                            <th style="border-radius:10px; border:1px white">
                                To

                                    @while (true)
                                    {
                                        SetupModel vk = new SetupModel();
                                        string[] s = vk.Torstai().Split('.');
                                        string pv = s[0] + "." + s[1];
                                        @pv
                                        ;
                                        break;
                                    }
                            </th>
                        </tr>
                        <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                            <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (string varaus in SetupModel.Quu)
                            {
                                SetupModel setup = new SetupModel();
                                string[] pv = setup.Torstai().Split('.');
                                //pv:
                                //0 = Päivä
                                //1 = Kuukausi
                                //2 = Vuosi
                                string[] tieto = varaus.Split(';');
                                string[] pvt = tieto[1].Split('-');
                                //pvt:
                                //0 = Vuosi
                                //1 = Kuukausi
                                //2 = Päivä
                                if (pvt[2].Substring(0, 2) == pv[0] && pvt[1] == pv[1] && pvt[0] == pv[2])
                                {
                                    <tr bgcolor=#fff style="border-radius:10px; border:1px white" align="center">
                                        <td style="font-size:18px; border-radius:10px; border:1px white">
                                            <b>@tieto[2]</b>
                                            <p style="font-size:14px">@tieto[0].Substring(10,6) -  @tieto[1].Substring(10,6)</p>
                                            <p style="font-size:14px">@pvt[0] - @pvt[1] - @pvt[2].Substring(0,2)</p>
                                            <p style="font-size:14px">@tieto[3]</p>
                                        </td>
                                    </tr>
                                    <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                                        <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                </table>

                <table style="float: left; border:1px #bbb4ff; border-radius:10px" width="17.6%" bgcolor=#bbb4ff>
                    <thead>
                            <tr id="pe" align="center" bgcolor=#948CDE>
                            <th style="border-radius:10px; border:1px white">
                                Pe

                                    @while (true)
                                    {
                                        SetupModel vk = new SetupModel();
                                        string[] s = vk.Perjantai().Split('.');
                                        string pv = s[0] + "." + s[1];
                                        @pv
                                        ;
                                        break;
                                    }
                            </th>
                        </tr>
                        <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                            <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (string varaus in SetupModel.Quu)
                            {
                                SetupModel setup = new SetupModel();
                                string[] pv = setup.Perjantai().Split('.');
                                //pv:
                                //0 = Päivä
                                //1 = Kuukausi
                                //2 = Vuosi
                                string[] tieto = varaus.Split(';');
                                string[] pvt = tieto[1].Split('-');
                                //pvt:
                                //0 = Vuosi
                                //1 = Kuukausi
                                //2 = Päivä
                                if (pvt[2].Substring(0, 2) == pv[0] && pvt[1] == pv[1] && pvt[0] == pv[2])
                                {
                                    <tr bgcolor=#fff style="border-radius:10px; border:1px white" align="center">
                                        <td style="font-size:18px; border-radius:10px; border:1px white">
                                            <b>@tieto[2]</b>
                                            <p style="font-size:14px">@tieto[0].Substring(10,6) -  @tieto[1].Substring(10,6)</p>
                                            <p style="font-size:14px">@pvt[0] - @pvt[1] - @pvt[2].Substring(0,2)</p>
                                            <p style="font-size:14px">@tieto[3]</p>
                                        </td>
                                    </tr>
                                    <tr style="border:1px #bbb4ff" bgcolor=#bbb4ff>
                                        <td bgcolor=#bbb4ff style="border:1px #bbb4ff">&nbsp;</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>

                <table style="float: left; border:0px" width="2%">
                    <tr style="border:0px">
                        <th style="border:0px"></th>
                    </tr>
                </table>



            </td>
            </>

    </table>
</div>
<script>
    function tarkista() {
        var tanaan = Date();
        var nyt = new Date();

        var ma = new Date(nyt.getFullYear(), nyt.getMonth(), nyt.getDay() - nyt.getDay() - 2);
        var matext = ma.toString().substring(0, 3);

        var ti = new Date(nyt.getFullYear(), nyt.getMonth(), nyt.getDay() - nyt.getDay() - 1);
        var titext = ti.toString().substring(0, 3);

        var ke = new Date(nyt.getFullYear(), nyt.getMonth(), nyt.getDay() - nyt.getDay() - 0);
        var ketext = ke.toString().substring(0, 3);

        var to = new Date(nyt.getFullYear(), nyt.getMonth(), nyt.getDay() - nyt.getDay() + 1);
        var totext = to.toString().substring(0, 3);

        var pe = new Date(nyt.getFullYear(), nyt.getMonth(), nyt.getDay() - nyt.getDay() + 2);
        var petext = pe.toString().substring(0, 3);
        var tamapv = tanaan.substring(0, 3);

        const maanantai = document.getElementById("ma");
        const tiistai = document.getElementById("ti");
        const keskiviikko = document.getElementById("ke");
        const torstai = document.getElementById("to");
        const perjantai = document.getElementById("pe");

            const varattu = document.getElementById("On");
            const vapaa = document.getElementById("Off");

            var vastaus = "@SetupModel.OikeinQuu";
            if (vastaus == 1) {
                varattu.style.display = "block";
                vapaa.style.display = "none";
            }

            if (vastaus == 0) {
                varattu.style.display = "none";
                vapaa.style.display = "block";
            }

        if (tamapv == matext) {
            maanantai.style.backgroundColor = "#fff";
        }
        else if (tamapv == titext) {
            tiistai.style.backgroundColor = "#fff";
        }
        else if (tamapv == ketext) {
            keskiviikko.style.backgroundColor = "#fff";
        }
        else if (tamapv == totext) {
            torstai.style.backgroundColor = "#fff";
        }
        else if (tamapv == petext) {
            perjantai.style.backgroundColor = "#fff";
        }
            window.setTimeout(function () {
                window.location.reload();
            }, 60000);
            //60000 = 1 minuutti

    }
</script>
</body>